body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9; /* Cor de fundo do site */
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333; /* Cor do título */
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

.form-label {
  color: #666; /* Cor do label */
}

.form-control {
  border-color: #ccc; /* Cor da borda do input */
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9; /* Cor da borda do input quando focado */
  box-shadow: 0 0 10px rgba(102, 175, 233, 0.5);
}

.btn-primary {
  background-color: #007bff; /* Cor do botão primary */
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9; /* Cor do botão primary quando hover */
  border-color: #0069d9;
}

.btn-secondary {
  background-color: #868e96; /* Cor do botão secondary */
  border-color: #868e96;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #727b84; /* Cor do botão secondary quando hover */
  border-color: #727b84;
}

.alert-success {
  background-color: #c6f7d0; /* Cor do alerta de sucesso */
  border-color: #b2fffc;
  color: #3e8e41;
}

.alert-danger {
  background-color: #f8d7da; /* Cor do alerta de erro */
  border-color: #f5c6cb;
  color: #721c24;
}
